body{
    background-color: rgb(240,255,255);
}

header{
    background-color: #22ebda;
    width: 100%;
    height: 120px;
    float: center;
    z-index: 9999;
}

footer{
    background-color: #22ebda;
    width: 100%;
    height: 60px;
    position: relative;
    float: center;
    z-index: 9999;
    bottom: 0;
    padding: 40px;
    left: 0;
}

.owl-carousel .receita{
    width: 400px;
    height: 600px;
    border-radius: 50px 25px 50px 25px;
    color:black;
    padding: auto;
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    box-sizing: 0;
    background-color: rgb(0, 77, 77);
}

.card{
    width: 180px;
    height: 300px;
    border-radius: 50px 25px 50px 25px;
    color:black;
    padding: auto;
    margin: 10px;
    position: relative;
    box-sizing: 0;
    background-color:  rgb(0, 77, 77);
}

.textinho{
    color: black;
    font-size: 20px;
    padding: auto;
}

.divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:15px;
    width:293px;
    height:32px;
    display: flex;
    justify-content: right
    ;
}

  
#txtBusca{
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
    margin-top: auto;
}
  
a{
    font-size: 20px;
    font-style: oblique;
    color: black;
    margin: 5px;
}

.btnbusca{
    margin-top: auto;
    border:none;
    height:32px;
    border-radius:0 7px 7px 0;
    font-weight:bold;
    background:transparent;
}

#fotobusca{
    height:25px;
    width: 25px;
    float: right;
}

#logo1{
    margin-top: auto;
    width: 130px;
    height: 100px;
    float: left;
}

@media screen and (min-width: 1024px){
    header, footer{
        padding: 15px calc((100% - 1024px)/2);
    }
    
    header .menu{
        padding: 0 15px;
        width: calc(100% - 240px);
        margin-left: 20px;
    }

    header #riscos{
        display:none;
    }
}

@media screen and (max-width: 1023px){
    header #riscos,
    header #riscos span {
        display: inline-block;
        transition: all .5s;
        box-sizing: border-box;
    }
    header #riscos {
        position: relative;
        width: 40px;
        z-index: 99999;
        height: 35px;
        -webkit-appearance: none;
        background-color: transparent;
        padding: 0;
        border: none;
        float: left;
        margin-right: 20px;
        margin-top: 15px;
    }
    header #riscos span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 4px;
    }
    header #riscos span:nth-of-type(1) {
        top: 0;
    }
    header #riscos span:nth-of-type(2) {
        top: 15px;
    }
    header #riscos span:nth-of-type(3) {
        bottom: 0;
    }
    header #riscos.active span:nth-of-type(1) {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(20px) rotate(-45deg);
    }
    header #riscos.active span:nth-of-type(2) {
        opacity: 0;
    }
    header #ricos.active span:nth-of-type(3) {
        -webkit-transform: translateY(-11px) rotate(45deg);
        transform: translateY(-11px) rotate(45deg);
    }

    header{
        width: 100%;
        height: 70px;
        padding:0;
    }

    footer {
        padding: 20px;
    }

    header .menu{
        width: 100%;
        position: absolute;
        margin-top: 70px;
        max-height: 0px;
        z-index: 999999;
        overflow: hidden;
        transition: all 0.3s;
        background-color: #ec082e;
    }

    header .menu.active{
        max-height: 2000px;
        transition: all 0.3s;
    }

    header .menu a{
        width: 100%;
        float: right;
        line-height: 30px;
    }

    header #logo1{
        width: 100px;
        height: 60px;
        margin-top: auto;
        margin-right: 10px;
    }
}